[submodule "nvim"]
	path = nvim
	url = git@github.com:Lazytangent/nvim-conf.git
[submodule "helix"]
	path = helix
	url = git@github.com:Lazytangent/helix-conf.git
[submodule "lite-xl"]
	path = lite-xl
	url = git@github.com:Lazytangent/lite-xl-config.git
