[submodule "nvim"]
	path = nvim
	url = git@github.com:Lazytangent/nvim-conf.git
[submodule "helix"]
	path = helix
	url = git@github.com:Lazytangent/helix-conf.git
[submodule "lite-xl"]
	path = lite-xl
	url = git@github.com:Lazytangent/lite-xl-config.git
[submodule "doom"]
	path = doom
	url = git@github.com:Lazytangent/doom.git
[submodule "vanillamacs"]
	path = vanillamacs
	url = git@github.com:Lazytangent/vanillamacs.git
[submodule "wezterm"]
	path = wezterm
	url = git@github.com:Lazytangent/wezterm-config.git
[submodule "emacs"]
	path = emacs
	url = git@github.com:plexus/chemacs2.git
[submodule "spacemacs"]
	path = spacemacs
	url = https://github.com/syl20bnr/spacemacs
